journey-test/src/main/resources/META-INF/journery.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://wwww.jouryney.com/schema/journery"
            targetNamespace="http://wwww.jouryney.com/schema/journery">
    <xsd:element name="journey">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="age" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>

